@use "../variables" as *;

.footer {
  background: linear-gradient(90deg, $primary-color, $second-color);
  color: #FFF;
  font-family: $font-family-primary;
  padding-top: 5px;
  padding-bottom: 10px;

  &__container {
    max-width: $max-width;
    margin: 0 auto;
    padding: 0 5px;
  }

  &__content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 30px;
    padding-bottom: 30px;
  }

  &__col {
    flex: 1;
    min-width: 220px;

    h4 {
      font-size: 18px;
      font-weight: 600;
      margin-bottom: 15px;
      color: #FFF;
    }

    p {
      font-size: 16px;
      line-height: 1.6;
      margin-bottom: 10px;
      color: #F5F5F5;

      svg {
        margin-right: 6px;
        color: #FFF;
      }
    }

    ul {
      list-style: none;
      padding: 0;

      li {
        font-size: 16px;
        line-height: 1.6;
        margin-bottom: 8px;
        color: #F5F5F5;
      }
    }
  }

  &__social {
    display: flex;
    gap: 12px;
    margin-top: 10px;

    svg {
      font-size: 18px;
      color: #FFF;
      transition: transform 0.3s ease;

      &:hover {
        transform: scale(1.2);
        color: #1E90FF;
      }
    }
  }

  &__bottom {
    
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    color: #FFF;
  }
}
